body{
    text-align: center;
    font-size:24px;
}

#test{
    display: list-item;/*other options inclue: inline, block, none, inline-block*/
}

img{
    float: left;/*other options include: none, right*/
}

#second{
    clear: left;/*other options include: none, left, right, both*/
}